*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #28293E;
}
.logo>img{
    width: 220px;
    border-radius: 50%; 
}

a>li{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
    padding-inline: 50px;
}
a>li:hover{
    transform: scale(1.2);
}
.btn{
    padding: 12px;
    color: white;
    font-size: 20px;
    border: 2px solid rgba(255, 255, 255, 0.424);
    border-radius: 5px;
}
.btn>a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.menu-icon{
  width: 50px;
  height: 40px;
}
.menu-icon>a>i{
  color: white;
  visibility: hidden;
}
.section-1{
    width: 100%;
    height: 800px;
    background-color: #28293E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}
.content-container{
    width: 40%;
    height: 80%;
}
.image-container{
    width: 30%;
    height: 80%;
}
.head{
    font-size: 19px;
    color: #D66555;
    padding-inline: 80px;
}
.main{
    font-size: 19px;
    color: #D66555;
    padding-inline: 80px;
}
.main>h1{
    font-size: 60px;
    padding-top: 30px;
    padding-right: 70px;
    color: white;
}
.main>p{
    padding-top: 30px;
    color: rgba(211, 211, 211, 0.541);
    /* font-size: 16px; */
    line-height: 1.5;
}
.head>i{
    position: absolute;
    top: 250px;
    left: 540px;
    color: rgba(211, 211, 211, 0.491);
}
.work{
    position: relative;
    top: 50px;
    
    font-weight: 700;
    
}

.btn1 {
    padding: 12px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    background: rgb(255, 255, 255);
    color: blueviolet;
    border-radius: .5rem;
    border-bottom: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, 
       border-left, 
       border-bottom,
       border-right,
       box-shadow;
}
.btn1:hover {
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
}
.contact{
    position: relative;
    top: 50px;
    left: 20px;
    font-weight: 300;
    padding-block: 10px;
    padding-inline: 20px;
}
.contact>a{
    text-decoration: none;
    color:rgba(211, 211, 211, 0.669);
}
.contact>a:hover{
    color: white;
}
.foot{
    margin-top: 180px;
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.img>img{
    width: 50px;
    border-radius: 50%;
}
.quote{
    line-height: 1.8;
}
.quote>p{
    color: rgba(211, 211, 211, 0.705);
}
.quote>h5{
    font-size: 18px;
    color: white;
    font-weight: 200;
}

.img1{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #28293E;
}
.about{
    width: 100%;
    height: 1000px;
    background-color: #fff0e8;
}
.about-header-container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-top: 40px;
}
.about-header-container>a{
    text-decoration: none;
}
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.icons>i,.icons>p{
    color: #BD8E74 ;
}
.icons>i:hover,.icons>p:hover{
    transform: scale(1.2);
}
.about-main-container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.main-left-container{
    width: 30%;
    height: 80%;
}

.above-backside-container{
    width: 90%;
    height: 45%;
    position: relative;
    top: 18%;
    left: 5%;
}
.above-backside-container>img{
    width: 500px;
    height: 500px;
}
.main-right-container{
    width: 40%;
    height: 70%;
}
.my-image{
    width: 30%;
    position: relative;
    top: -45%;
    left: 5%;
}
.my-image>img{
    width: 130px;
    height: 142px;
    border-radius: 48%;
    background-color: #EF6D58;
    opacity: 0.8;
}
.text-div{
    width: 50%;
    position: relative;
    top: -63%;
    left: 35%;
    font-size: 18px;
    color: #87889fd8;
    text-align: center;

}
.text-div>h1{
    box-shadow:2px 2px 4px 5px #87889fd8;
    font-style: italic;
    padding: 10px;
}
.main-right-container>p{
    color: #F17D6A;
    font-weight: 500;
}
.main-head-text{
    width: 70%;
    padding-block:50px;
}
.main-head-text>h1{
    font-size: 54px;
    color: #391400;
}
.main-body-text>h3{
    font-weight: 300;
}
.main-body-text>p{
    padding-block: 40px;
    color: #977D70;
    line-height: 1.9;
}
.main-body-text>button,.service-upper-right-container>button,.card-bottom-part>button,.faq-left-container>a>button{
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.main-body-text>button:active,.service-upper-right-container>button:active,.card-bottom-part>button:active,.faq-left-container>a>button:active{
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.about-foot-container{
    width: 80%;
    height: 17%;
    margin-inline: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foot-box{
    width: 340px;
    height: 130px;
    border: 2px solid #977d7044;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 40px;
    border-radius: 5px;
}
.foot-box>h1{
    font-size: 34px;
}
.foot-box>p{
    font-size: 20px;
}
.how-it-works{
    width: 100%;
    height: 500px;
    background-color: #FDF0E9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hiw-left-div{
    width: 30%;
    height: 80%;
    padding-top: 50px;
    padding-left: 40px;
}
.hiw-left-div>h4{
    color: #F17D6A;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
}
.hiw-left-div>h1{
    font-size: 46px;
    color: #391400;
}
.hiw-left-div>p{
    padding-block: 40px;
    font-size: 18px;
    line-height: 1.6;
    color: #977D70;
}
.hiw-left-div>h3 a{
    text-decoration: none;
    color:#a88572;
    font-weight: 600;
}
.hiw-right-div{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.work-box{
    width: 90%;
    height: 100px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    gap:40px;
    color: #391400;
}
.work-box>h1{
    font-size: 60px;
    font-weight: 700;
}
.work-box>p{
    font-size: 25px;
    font-weight: 600;
}
.features{
    width: 100%;
    height: 1000px;
    background-color: #FDF0E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}
.feature-top-section{
    width: 100%;
    height: 550px;
    background-color: #FDF0E9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.features-left-div{
    width: 30%;
    height: 100%;
    padding-top: 30px;
    padding-left: 40px;
}
.features-left-div>h4{
    color: #F17D6A;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
}
.features-left-div>h1{
    font-size: 50px;
    font-weight: 900;
    color: #391400;
}
.features-left-div>p{
    padding-block: 30px;
    font-size: 22px;
    line-height: 1.4;
    color: #391400d7;
}
.features-list{
    display: flex;
    align-items: center;
    gap :20px;
    margin-top: 10px;
    position: relative;
    /* top: -20px; */
    padding-block: 10px;
}
.features-list>i{
    padding-inline: 8px;
    padding-block: 16px;
    border-radius: 50%;
    color: white;
    background-color: #EF6C57;
}
.features-list>p{
    font-size: 19px;
    color: #987E70;
}
.features-right-div{
    width: 30%;
    height: 90%;
    padding-top: 70px;
}
.features-right-div>img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 18px 18px 12px rgba(0, 0, 0, 0.445),-18px 18px 12px rgba(0, 0, 0, 0.486);
    transition:  0.4s linear 0.3s;
    cursor: pointer;
}
.features-right-div>img:hover{
    transform: scale(1.1);
}
.feature-below-section{
    width: 80%;
    height: 300px;
    /* border: 2px solid #F3D1BF; */
    /* box-shadow: 5px 5px 8px #f3d1bfbb,-5px -5px 8px #f3d1bfbb; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card {
    margin: 20px;
    box-sizing: border-box;
    width: 230px;
    height: 294px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    /* text-align: center;
    align-items: center;
    justify-content: center; */
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    padding: 24px;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  .card>h2{
    margin-bottom: 10px;
    color: #c28768;
  }
  .card>ul>li{
    padding: 2px;
    color: #977d70e8;
  }
  .service{
    width: 100vw;
    height: 1400px;
    background-color:#FDF0E9 ;
    
  }
  .service-containers{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .service-upper-container{
    width: 30%;
    height: 90%;
  }
  .service-upper-left-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service-upper-right-container{
    padding: 30px;
  }
  .service-upper-right-container>h4{
    font-size: 19px;
    font-weight: 500;
    color: #D66555;
    padding-block: 20px;
  }
  .service-upper-right-container>h1{
    font-size: 50px;
    font-weight: 900;
    color:#391400 ;
  }
  .service-upper-right-container>p{
    color: #512F1D;
    padding-block: 40px;
    font-size: 19px;
    line-height: 1.4;
  }
  .service-quote{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-block: 25px;
  }
  .service-quote>img{
    width: 60px;
    border-radius: 50%;
  }
  .text-content>p{
    padding-block: 4px;
  }
  .service-cards-container{
    width: 80%;
    height: 80%;
  }
  .service-card-content{
    width: 100%;
    height: 25%;
  }
  .service-card-content>h4{
    font-size: 19px;
    font-weight: 500;
    color: #D66555;
    padding-block: 20px;
    padding-inline: 20px;
  }
  .service-card-content>h1{
    padding: 17px;
    font-size: 49px;
  }
  .service-cards{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .service-card{
    width: 27%;
    height: 80%;
    border: 2px solid #a885725c;
    box-shadow: 3px 3px 4px #a885725c,-3px 0px 4px #a885725c;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
  .service-card:hover{
    transform: scale(1.1);
  }
  .service-card>i{
    padding-block: 33px;
    padding-inline: 18px;
    background-color: #EF6C57;
    border-radius: 50%;
    color: white;
    margin: 20px;
  }
  .service-card>h2{
    color: #391400;
    margin: 20px;
  }
  .service-card>p{
    margin: 20px;
    margin-top: 30px;
    font-size: 17px;
    line-height: 1.4;
    color: #977D70;
  }
  .service-card>a{
    text-decoration: none;
  }
  .service-card>a>h4{
    margin: 20px;
    margin-top: 30px;
    color: #391400;
  }
  .service-card-1>a>h4{
    margin-top: 40px;
  }
  .latest-work{
    width: 100%;
    height: 1700px;
    background-color: #28293E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .portfolio-latest-work{
    width: 80%;
    height: 65%;
    margin-top: 40px
  }
  .latest-work-menu{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    flex-direction: column;
  }
  .upper-latest-work-content,.latest-work-nav{
    width: 50%;
    height: 40%;
  }
  .upper-latest-work-content>h4{
    color: #D66555;
    text-align: center;
    font-weight:300;
  }
  .upper-latest-work-content>h1{
    font-size: 48px;
    text-align: center;
    color: white;
    padding: 20px;
  }
  .latest-work-nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .latest-work-nav>ul>a>li{
    color: lightgray;
    font-size: larger;
  }
  .latest-work-nav>ul>a>li:hover{
    color: white;
  }
  .latest-work-images{
    /* margin-top: 30px; */
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .work-images{
    transition: all 0.4s ease-in-out;
  }
  .work-images>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
  }
  .work-images>h1{
    color: white;
    text-align: center;
    position: relative;
    top: -50%;
    font-size: 45px;
    opacity: 0.6;
    transition: all 0.4s ease-in-out;
  }
  .work-images:hover{
    transform: scale(0.9,0.9);
  }
  .work-images>h1:hover{
    transform: scale(1.2);
    opacity: 1;
  }
  .founder-quotes-container{
    width: 80%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-block: 5%;
  }
  .quotes-div{
    width: 35%;
    height: 90%;
  }
  .profile-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.665);
  }
 .founder-quote-container{
    padding: 20px;
  }
  .founder-quote-container>h3{
    color: #ef6c58e1;
    margin-block: 30px;
  }
  .founder-quote-container>h1{
    color: white;
    font-size: 28px;
    margin-block: 40px;
    padding-right: 40px;
  }
  .founder-quote-container>p{
    color: lightgray;
    font-size: 18px;
    font-weight:500;
    margin-bottom: 8px;
  }
  .founder-quote-container>h4{
    color: #ef6c58d3;
    font-weight: 300;
  }
  .pricing-section{
    width: 100%;
    height: 1000px;
    background-color: #FDF0E9 ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pricing-container{
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing-header-container{
    width: 100%;
    height: 30%;
  }
  .pricing-header-container>p{
    color: #F17D6A;
    margin: 40px;
  }
  .pricing-header-container>h1{
    font-size: 48px;
    font-weight: 800;
    margin-left: 40px;
    margin-right: 70%;
    color: #391400;
    line-height: 1.2;
  }
  .pricing-cards-container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .pricing-card{
    width: 28%;
    height: 90%;
    border-radius: 20px;
    border: 2px solid #a8857286;
    background-color: #cfbbb016;
    box-shadow: 4px 4px 12px 12px  #a8857238,-4px -4px 12px 12px #a8857238;
    display: flex;
    flex-direction: column;
  }
  .pricing-cards-container .pricing-card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 30px 1px #cc7241ac;
  }
  .pricing-cards-container:hover > .pricing-card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }
  .card-upper-part
  {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(210, 195, 195, 0.265);
  }
  .card-upper-part>h1{
    font-size: 38px;
    font-weight: 600;
    color: #d66455b5;
    text-shadow: 3px 5px #d664555b;
  }
  .card-middle-part{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding-top: 20px;
  }
  .card-middle-part>p{
    font-size: 20px;
    font-weight: 500;
    color: #ae7558;
  }
  .card-middle-part>h4{
    font-size: 28px;
    font-weight: 800;
    color: #c08566e6;
    text-shadow: 3px 4px 5px #bd8e7491;
  }
  .card-bottom-part{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(210, 195, 195, 0.265);
  }
  .card-bottom-part>h1{
    color: #D66555;
    font-size: 30px;
    text-shadow: 2px 4px 5px;
  }
  .FAQ-container{
    width: 100%;
    height: 800px;
    background-color: #FDF0E9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .faq-div{
    width: 85%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .faq-containers{
    width: 40%;
    height: 100%;
  }
  .faq-left-container>h3{
    margin-block: 20px;
    font-weight: 400;
    color: #ef6c58d3;
  }
  .faq-left-container>h1{
    margin-block: 20px;
    margin-right: 30%;
    font-size: 48px;
  }
  .faq-left-container>p{
    margin-block: 30px;
    line-height: 1.3;
    font-size: 19px;
    color: #977d70e8;
  }
  .faq-right-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 4px 4px 8px 12px #a88572,-4px -0px 8px 12px #a88572;
  }
  .faq-question-containers{
    width: 100%;
    height: 25%;
  }
  .faq-question-div{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .faq-question{
    width: 70%;
    height: 80%;
  }
  .faq-question>h1{
    color: #512F1D;
  }
  .faq-down-arrow{
    width: 10%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .faq-down-arrow>i{
    background-color: #D66555;
    color: white;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
  }
  .faq-answer-div{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
  }
  .faq-answer-div>p{
    font-size: 17px;
    line-height: 1.2;
    color: #927567;
  }
  .contact-form{
    width: 100%;
    height: 800px;
    background-color: #28293E;
    position: relative;
  }
  .contact-form>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
  .form{
    position: absolute;
    width: 25%;
    height: 450px;
    top: 150px;
    left: 10%;
    z-index: 100;
    background-color: white;
    border-radius:10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding-inline: 50px;
  }
  form>input{
    width: 89%;
    height: 12%;
    margin-block: 10px;
  }
  form>textarea{
    margin-top: 10px;
  }
  .btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
  }
  
  .butn {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: white;
  }
  
  .butn:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .butn:active {
    opacity: 0.5;
  }
  .foot-container{
    width: 100%;
    height: 500px;
    background-color: #28293E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .foot-upper-container{
    width:100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #61649749;
  }
  .foot-div{
    width: 30%;
    height: 80%;
  }
  .foot-1-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .foot-1-div>img{
    width: 50%;
    height: 50%;
  }
  .foot-lower-container{
    width: 90%;
    height: 20%;
  }
  .foot-2-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .foot-2-div>table{
    width: 100%;
    height: 100%;
    text-align: center;
  }
  td>a{
    text-decoration: none;
    color: #999696;
    text-align: center;
  }
  td>h3{
    color: #D66555;
    font-weight: 400;
  }
  .foot-3-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .foot-3-div>a>i{
    margin: 10px;
    padding-block: 25px;
    padding-inline: 18px;
    background-color: #D66555;
    border-radius: 50%;
    color: white;
    transition: all 0.8 ease-in-out;
  }
  .foot-3-div>a>i:hover{
    transform: scale(1.2);
  }
  .foot-lower-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lower-left-foot-container{
    width: 40%;
    height: 60%;
  }
  .lower-left-foot-container>p{
    color: #666;
  }
  .lower-right-foot-container{
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .lower-right-foot-container>a{
    text-decoration: none;
  }
  .lower-right-foot-container>a>h4{
    color: #666;
  }
  @media only screen and (max-width:600px){
    .header-container{
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menus-container>ul,.btn{
      visibility: hidden;
    }
    .menu-icon{
      border: 2px solid rgba(128, 128, 128, 0.472);
      visibility: visible;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 40px;
      border-radius: 10px;
    }
    .menu-icon:hover{
      transform: scale(1.2);
    }
    .menu-icon>a>i{
      visibility: visible;
    }
    .section-1{
      height: 1400px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      /* justify-content: center; */
      gap: 0px;
    }
    .head>i{
      left: 45%;
      top: 75%;
    }
    .image-container{
      width: 100%;
      height: 30%;
    }
    .content-container{
      width: 100%;
      height: 60%;
    }
    .about{
      height: 1900px;
      display: flex;
      flex-direction: column;
    }
    .about-main-container{
      display: flex;
      flex-direction: column;
    }
    .foot-box{
      margin-top: 40%;
      margin-right: 7%;
      padding: 20px;
    }
    .main-left-container{
      width: 100%;
      height: 40%;
    }
    .main-right-container{
      width: 90%;
      height: 40%;
    }
    .about-foot-container{
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .how-it-works{
      height: 1000px;
      display: flex;
      flex-direction: column;
    }
    .hiw-left-div{
      width: 90%;
      height: 40%;
    }
    .hiw-right-div{
      width: 90%;
      height: 40%;
    }
    .features{
      height: 2500px;
      display: flex;
      flex-direction: column;
    }
    .feature-top-section{
      width: 90%;
      height: 50%;
      display: flex;
      flex-direction: column;
    }
    .features-left-div{
      width: 90%;
      height: 50%;
    }
    .features-right-div{
      width: 90%;
      height: 40%;
    }
    .feature-below-section{
      width: 90%;
      height: 45%;
      display: flex;
      flex-direction: column;
    }
    .card{
      width: 80%;
      height: 40%;
    }
    .service{
      height: 3200px;
      display: flex;
      flex-direction: column;
    }
    .service-containers{
      width: 90%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
      margin-top: -10%;
    }
    .service-upper-left-container{
      width: 90%;
      height: 40%;
    }
    .service-upper-right-container{
      width: 90%;
      height: 40%;
    }
    .service-cards-container{
      width: 90%;
      height: 70%;
      
    }
    .service-cards{
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .service-card{
      width: 90%;
      height: 30%;
    }
    .portfolio-latest-work{
      width: 100%;
      height: 80%;
    }
    .latest-work-nav{
      width: 40%;
    }
    .latest-work{
      height: 1700px;
      margin-block: 20px;
      text-align: center;
    }
    .upper-latest-work-content{
      width: 90%;
    }
    .latest-work-images{
      height: 60%;
    }
    .work-images>h1{
      top: -300px;
      font-size: 28px;
    }
    .founder-quotes-container{
      width: 90%;
      height: 40%;
      display: flex;
      flex-direction: column;
    }
    .quotes-div{
      width: 90%;
      height: 40%;
    }
    .founder-quote-container{
      width: 90%;
      height: 100%;
      margin: -10%;
    }
    .pricing-section{
      height: 2000px;
    }
    .pricing-header-container{
      width: 90%;
      height: 20%;
    }
    .pricing-header-container>p{
      text-align: center;
    }
    .pricing-header-container>h1{
      width: 80%;
      height: 50%;
      text-align: center;
    }
    .pricing-cards-container{
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    .pricing-card{
      width: 80%;
      height: 90%;
    }
    .card-upper-part{
      height: 14%;
    }
    .card-middle-part{
      height: 72%;
    }

    .card-bottom-part{
      height: 14%;
    }
    .FAQ-container{
      height: 1500px;
    }
    .faq-div{
      width: 90%;
      height: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .faq-left-container{
      width: 90%;
      height: 30%;
    }
    .faq-right-container{
      width: 90%;
      height: 70%;
    }
    .form{
      width: 80%;
    }
    .foot-container{
      height: 800px;
    }
    .foot-upper-container{
      height: 600px;
      display: flex;
      flex-direction: column;
    }
    .foot-div{
      width: 70%;
    }
    .foot-1-div>img{
      width: 80%;
      height: 80%;
    }
    .foot-lower-container{
      height: 150px;
      display: flex;
      flex-direction: column;
    }
    .lower-left-foot-container{
      width: 80%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .lower-right-foot-container{
      width: 90%;

    }
  }